@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-50: #f0f7ff;
  --color-primary-100: #e0effe;
  --color-primary-200: #bae0fd;
  --color-primary-300: #7cc8fb;
  --color-primary-400: #38abf8;
  --color-primary-500: #0e8edc;
  /* Fuji Blue */
  --color-primary-600: #0271bb;
  --color-primary-700: #035a98;
  --color-primary-800: #074d7e;
  --color-primary-900: #0c4169;
  --color-primary-950: #082945;

  --color-accent: #ff7b00;
  /* Fuji Orange */
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}