@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-manrope);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fuji Original Palette */
  --color-primary-50: #eefdf4;
  --color-primary-100: #d6fbe3;
  --color-primary-200: #b0f5cb;
  --color-primary-300: #76eba6;
  --color-primary-400: #39d677;
  --color-primary-500: #009846;
  /* Fuji Green */
  --color-primary-600: #0d8c43;
  --color-primary-700: #0b6f38;
  --color-primary-800: #0e5830;
  --color-primary-900: #0d4829;
  --color-primary-950: #062817;

  --color-accent: #e31e24;
  /* Fuji Red */
  --color-tan: #c5b98e;
  --color-tan-dark: #a69269;
  --color-cream: #f3f1e9;
}

:root {
  --background: #f3f1e9;
  --foreground: #4c4c4c;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}